.footer {
	padding: var(--margin-600);
	background-color: var(--clr-neutral-150);
	text-align: center;
	line-height: 2.8;
}

.footer__icon {
	display: inline;
	max-width: 1.187rem;
}

.footer__link {
	color: var(--clr-neutral-900);
	font-size: var(--fs-500);
	text-decoration: none;

	transition-duration: 300ms;
}

.footer__logo {
	max-width: 2.75rem;
	margin: 0rem auto var(--margin-300);
}

.footer__social-list {
	display: flex;
	justify-content: center;
	gap: var(--margin-500);
	margin-top: var(--margin-500)
}

.footer__link:hover {
	color: var(--clr-primary-400);
}

.footer__icon:hover {
	filter: invert(70%) sepia(40%) saturate(5255%) hue-rotate(127deg) brightness(99%) contrast(70%);
}

/* For large devices */
@media screen and (min-width: 62.062em) {

	.footer__icon {
		max-width: 1.5rem;
	}

	.footer__nav {
		display: flex;
		justify-content: space-between;
		margin: 0rem var(--margin-800);
		line-height: 2.5;
	}

	.footer__left {
		display: flex;
		gap: var(--margin-750);

		text-align: left;
	}

	.footer__logo {
		max-width: 3.5rem;
		margin-top: var(--margin-500);
	}
}
