.section3 {
	margin-top: var(--margin-700);
	padding: 0rem var(--margin-500);
	text-align: center;
}

.section3__heading {
	color: var(--clr-neutral-900);
	font-size: var(--fs-700);
	line-height: 1.2;
}

.section3__image {
	max-width: 50.625rem;
	margin: auto;
}

.section3__paragraph {
	margin-top: var(--margin-200);
	margin-bottom: var(--margin-700);
}
/* For large devices */
@media screen and (min-width: 33.687em) {
	.section3 {
		margin-top: var(--margin-820);
	}

	.section3__paragraph {
		margin-bottom: var(--margin-750);
	}
}

/* For very large devices */
@media screen and (min-width: 89.937em) {
	.section3__paragraph {
		padding: 0 var(--margin-830);
	}
}
