.section2 {
	margin-bottom: var(--margin-800);
	padding: 0rem var(--margin-500);
	text-align: center;
}

.section2__heading {
	color: var(--clr-neutral-900);
	font-size: var(--fs-700);
	line-height: 1.2;
}

.section2__image {
	margin-bottom: var(--margin-600);
}

.section2__paragraph {
	margin-bottom: var(--margin-700);
	margin-top: var(--margin-200);
}

.section2__secondary-heading {
	color: var(--clr-neutral-900);
	font-size: var(--fs-500);
}

@media screen and (min-width: 62.062em) {
	.section2 {
		padding: 0;
	}

	.section2__container {
		padding: 0 var(--margin-400);
	}

	.section2__column1 {
		position: relative;
	}

	.section2__column2 {
		margin-top: var(--margin-700);
		text-align: left;
	}

	.section2__grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 150px;

		margin-top: var(--margin-750);
	}

	.section2__image {
		position: absolute;
		left: -10rem;
		width: 43.75rem;
	}
}

/* 
* Just like the header, this is just some extra
* padding for the solution screenshot
*/

@media screen and (min-width: 89.937em) {
	.section2__column2 {
		padding-right: var(--margin-820);
	}

	.section2__container {
		padding: 0 var(--margin-850);
	}

	.section2__image {
		left: -5rem;
		width: 46.25rem;
	}
}
