.section4 {
	text-align: center;
}

.section4__heading {
	color: var(--clr-neutral-900);
	font-size: var(--fs-700);
}

.section4__icon {
	display: inline;
	width: auto;
}

.section4__secondary-heading {
	color: var(--clr-neutral-900);
	font-size: var(--fs-500);
}
