/* Resets */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-size: 100%;
}

img {
	display: block;
	width: 100%;
}

ul, li {
	list-style-type: none;
}

/* Basic styling */
body {
	color: var(--clr-neutral-200);
	font-family: var(--ff-primary);
	font-size: var(--fs-400);
	line-height: 1.8;
}
