:root {
	/* Colors */
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-200: hsl(201, 11%, 66%);
	--clr-neutral-900: hsl(210, 10%, 33%);

	--clr-primary-100: hsl(171, 66%, 86%);
	--clr-primary-200: hsl(171, 66%, 57%);
	--clr-primary-400: hsl(171, 66%, 44%);
	--clr-primary-600: hsl(171, 66%, 38%);
	--clr-secondary-100: hsl(233, 100%, 88%);
	--clr-secondary-200: hsl(233, 100%, 76%);
	--clr-secondary-400: hsl(233, 100%, 69%);
	--clr-secondary-600: hsl(233, 100%, 60%);

	/* Font variables */
	--ff-primary: "Bai Jamjuree", Arial, sans-serif;

	--fs-400: 1rem;
	--fs-500: 1.125rem;
	--fs-700: 1.312rem;
	--fs-900: 1.5rem;
}

/* Desktop font sizes */
@media screen and (min-width: 33.687em) {
	:root {
		--fs-300: 1rem;
		--fs-400: 1.187rem;
		--fs-500: 1.437rem;
		--fs-700: 2.187rem;
		--fs-900: 2.75rem;
	}
}
